<body>
<div id="wrapper">
  <div class="main_content">
    <header>
      <div class="header_inner">
        <div class="left-side">
          <!-- Logo -->
          <div id="logo" class=" uk-hidden@s">
            <a href="home.html">
              <img src="../../assets/images/logo-mobile.png" alt="">
              <img src="../../assets/images/logo-mobile-light.png" alt="" class="logo_inverse">
            </a>
          </div>

          <div class="triger" uk-toggle="target: #wrapper ; cls: sidebar-active">
            <i class="uil-bars"></i>
          </div>


        </div>
        <div class="right-side lg:pr-4">




          <!-- Messages -->

          <a (click)="loadMessages()" class="header-links-item">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z"/>
            </svg>
          </a>
          <div uk-drop="mode: click;offset: 4" class="header_dropdown">
            <h4
              class="-mt-5 -mx-5 bg-gradient-to-t from-gray-100 to-gray-50 border-b font-bold px-6 py-3">
              Messages </h4>
            <ul class="dropdown_scrollbar" data-simplebar>
              <li *ngFor="let message of messages">
                <a routerLink="{{'/conversation/' + message.senderUsername}}">
                  <div class="drop_avatar"><img src="{{message.senderPhotoUrl || '../../assets/user.png'}}" alt="">
                  </div>
                  <div class="drop_content">
                    <strong> {{message.senderUsername | titlecase}} </strong>
                    <time> {{message.messageSent | timeago}}</time>
                    <p> {{message.content}}</p>
                  </div>
                </a>
              </li>
            </ul>
            <a routerLink="/messages" class="see-all">See all</a>
          </div>

          <!-- profile -->

          <a *ngIf="user" class="header-links-item">
            <img src="{{user.photoUrl || '../../assets/user.png'}}" class="header-avatar" alt="">
          </a>
          <div uk-drop="mode: click;offset:9" class="header_dropdown profile_dropdown border-t">
            <ul>
              <li><a [routerLink]="['../like-lists']"> Statistics </a></li>
            </ul>
            <ul>
              <li><a [routerLink]="['../settings']"> Account setting </a></li>
              <li><a (click)="logout()"> Log Out</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
  </div>
</div>

<script>

  (function (window, document, undefined) {
    'use strict';
    if (!('localStorage' in window)) return;
    var nightMode = localStorage.getItem('gmtNightMode');
    if (nightMode) {
      document.documentElement.className += ' dark';
    }
  })(window, document);


  (function (window, document, undefined) {

    'use strict';

    // Feature test
    if (!('localStorage' in window)) return;

    // Get our newly insert toggle
    var nightMode = document.querySelector('#night-mode');
    if (!nightMode) return;

    // When clicked, toggle night mode on or off
    nightMode.addEventListener('click', function (event) {
      event.preventDefault();
      document.documentElement.classList.toggle('dark');
      if (document.documentElement.classList.contains('dark')) {
        localStorage.setItem('gmtNightMode', true);
        return;
      }
      localStorage.removeItem('gmtNightMode');
    }, false);

  })(window, document);
</script>

<!-- Scripts
   ================================================== -->
<script src="../../assets/js/tippy.all.min.js"></script>
<script src="../../assets/js/jquery-3.3.1.min.js"></script>
<script src="../../assets/js/uikit.js"></script>
<script src="../../assets/js/simplebar.js"></script>
<script src="../../assets/js/custom.js"></script>


<!--<script src="../../unpkg.com/ionicons%405.2.3/dist/ionicons.js"></script>-->
</body>




