<div style="height: 1px" class="col-lg-12">
  <app-navbar></app-navbar>
</div>

<div class="">
  <app-sidebar></app-sidebar>
</div>

<body class="mt-5">
<div id="wrapper">
  <div class="main_content">
    <div *ngIf="member" class="container pro-container m-auto">

      <!-- profile-cover-->
      <div class="flex lg:flex-row flex-col items-center lg:py-8 lg:space-x-8">

        <div>
          <div
            class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-1 rounded-full m-0.5 mr-2  w-56 h-56 relative overflow-hidden uk-transition-toggle">
            <img src="{{member.photoUrl || '../../assets/user.png'}}" alt="{{member.knownAs}}"
                 class="bg-gray-200 border-4 border-white rounded-full w-full h-full dark:border-gray-900">

            <div
              class="absolute -bottom-3 custom-overly1 flex justify-center pt-4 pb-7 space-x-3 text-2xl text-white uk-transition-slide-bottom-medium w-full">
              <a href="#" class="hover:text-white">
                <i class="uil-camera"></i>
              </a>
              <a href="#" class="hover:text-white">
                <i class="uil-crop-alt"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="lg:w/8/12 flex-1 flex flex-col lg:items-start items-center">

          <h2 class="font-semibold lg:text-2xl text-lg mb-2">{{member.knownAs}}</h2>
          <p class="lg:text-left mb-2 text-center  dark:text-gray-100">{{member.introduction}}</p>

          <div class="flex font-semibold mb-3 space-x-2  dark:text-gray-10">
            <p><i class="fa fa-location-arrow"></i><strong> Location: </strong>{{member.country}}, {{member.city}}</p>
          </div>

          <div
            class="divide-gray-300 divide-transparent divide-x grid grid-cols-3 lg:text-left lg:text-lg mt-3 text-center w-full dark:text-gray-100">
            <div class="flex lg:flex-row flex-col"> {{photos.length}}  <strong class="lg:pl-2">Posts</strong></div>
            <div class="lg:pl-4 flex lg:flex-row flex-col"> 420k <strong class="lg:pl-2">Followers</strong></div>
            <div class="lg:pl-4 flex lg:flex-row flex-col"> 530k <strong class="lg:pl-2">Following</strong></div>
          </div>

        </div>

        <div class="w-20"></div>

      </div>


      <div class="flex items-center justify-between mt-8 space-x-3">
        <h1 class="flex-1 font-extrabold leading-none lg:text-2xl text-lg text-gray-900 tracking-tight uk-heading-line">
          <span>Photos</span></h1>
        <div
          class="bg-white border border-2 border-gray-300 divide-gray-300 divide-x flex rounded-md shadow-sm dark:bg-gray-100">
          <a href="#" class="bg-gray300 flex h-10 items-center justify-center  w-10" data-tippy-placement="top"
             title="Grid view"> <i class="uil-apps"></i></a>
          <a href="#" class="flex h-10 items-center justify-center w-10" data-tippy-placement="top" title="List view">
            <i class="uil-list-ul"></i></a>
        </div>
      </div>

      <!--      <div class="my-6 grid lg:grid-cols-5 grid-cols-3 gap-2 hover:text-yellow-700 uk-link-reset">-->
      <!--        <a href="#">-->
      <!--          <div class="bg-gray-100 border-4 border-dashed flex flex-col h-full items-center justify-center relative rounded-2xl w-full">-->
      <!--            <i class="text-4xl uil-plus-circle"></i> <span> Add new </span>-->
      <!--          </div>-->
      <!--        </a>-->
      <!--      </div>-->

      <div class="row">

        <div class="col-md-3 mb-5">

          <div ng2FileDrop
               [ngClass]="{'nv-file-over': hasBaseDropzoneOver}"
               (fileOver)="fileOverBase($event)"
               [uploader]="uploader"
               class="bg-gray-100 border-4 border-dashed flex flex-col h-full items-center justify-center relative rounded-2xl w-full">
            <i class="text-4xl uil-plus-circle"></i> <span> Add new </span>
          </div>

<!--          Single-->
<!--          <input type="file" ng2FileSelect [uploader]="uploader"/>-->
        </div>

        <!--          QUEUE PROGRESS-->
        <div class="col-md-9" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">

          <h3>Upload queue</h3>
          <p>Queue length: {{ uploader?.queue?.length }}</p>

          <table class="table">
            <thead>
            <tr>
              <th width="50%">Name</th>
              <th>Size</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of uploader.queue">
              <td><strong>{{ item?.file?.name }}</strong></td>
              <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
            </tr>
            </tbody>
          </table>


          <div>
            <div>
              Queue progress:
              <div class="progress" style="">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
            <button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              <span class="fa fa-upload"></span> Upload all
            </button>
            <button type="button" class="btn btn-warning btn-s"
                    (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
              <span class="fa fa-ban"></span> Cancel all
            </button>
            <button type="button" class="btn btn-danger btn-s"
                    (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
              <span class="fa fa-trash"></span> Remove all
            </button>
          </div>

        </div>

      </div>

      <div class="my-6 grid lg:grid-cols-4 grid-cols-2 gap-1.5 hover:text-yellow-700 uk-link-reset">
        <div *ngFor="let photo of photos">
          <div *ngIf="member"
               class="bg-red-500 max-w-full lg:h-64 h-40 rounded-md relative overflow-hidden uk-transition-toggle"
               tabindex="0">
            <img src="{{photo.url}}" class="w-full h-full absolute object-cover inset-0">

            <div
              class="absolute bg-black bg-opacity-40 bottom-0 flex h-full items-center justify-center space-x-5 text-lg text-white uk-transition-scale-up w-full">
              <a href="#story-modal" uk-toggle class="flex items-center"> 150 </a>
              <a href="#story-modal" uk-toggle class="flex items-center"> 30 </a>
              <a href="#story-modal" uk-toggle class="flex items-center"> 12 </a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Story modal-->
<div id="story-modal" class="uk-modal-container" uk-modal>
  <div class="uk-modal-dialog story-modal">
    <button
      class="uk-modal-close-default lg:-mt-9 lg:-mr-9 -mt-5 -mr-5 shadow-lg bg-white rounded-full p-4 transition dark:bg-gray-600 dark:text-white"
      type="button" uk-close></button>

    <div *ngIf="member" class="story-modal-media">
      <img src="{{member.photoUrl}}" alt="" class="inset-0 h-full w-full object-cover">
    </div>
    <div class="flex-1 bg-white dark:bg-gray-900 dark:text-gray-100">

      <!-- post header-->
      <div class="border-b flex items-center justify-between px-5 py-3 dark:border-gray-600">
        <div class="flex flex-1 items-center space-x-4">
          <a>
            <div *ngIf="member" class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
              <img src="{{member.photoUrl}}"
                   class="bg-gray-200 border border-white rounded-full w-8 h-8">
            </div>
          </a>
          <span *ngIf="member" class="block text-lg font-semibold"> {{member.knownAs}} </span>
        </div>
        <a href="#">
          <i class="icon-feather-more-horizontal text-2xl rounded-full p-2 transition -mr-1"></i>
        </a>
      </div>
      <div class="story-content p-4" data-simplebar>

        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet
          dolore magna aliquam erat volutpat. </p>

        <div class="py-4 ">
          <div class="flex justify-around">
            <a href="#" class="flex items-center space-x-3">
              <div class="flex font-bold items-baseline"><i class="uil-heart mr-1"> </i> Like</div>
            </a>
            <a href="#" class="flex items-center space-x-3">
              <div class="flex font-bold items-baseline"><i class="uil-heart mr-1"> </i> Comment</div>
            </a>
            <a href="#" class="flex items-center space-x-3">
              <div class="flex font-bold items-baseline"><i class="uil-heart mr-1"> </i> Share</div>
            </a>
          </div>
          <hr class="-mx-4 my-3">
          <div class="flex items-center space-x-3">
            <div class="flex items-center">
              <img src="../../assets/images/avatars/avatar-1.jpg" alt=""
                   class="w-6 h-6 rounded-full border-2 border-white">
              <img src="../../assets/images/avatars/avatar-4.jpg" alt=""
                   class="w-6 h-6 rounded-full border-2 border-white -ml-2">
              <img src="../../assets/images/avatars/avatar-2.jpg" alt=""
                   class="w-6 h-6 rounded-full border-2 border-white -ml-2">
            </div>
            <div>
              Liked <strong> Johnson</strong> and <strong> 209 Others </strong>
            </div>
          </div>
        </div>

        <div class="-mt-1 space-y-1">
          <div class="flex flex-1 items-center space-x-2">
            <img src="../../assets/images/avatars/avatar-2.jpg" class="rounded-full w-8 h-8">
            <div class="flex-1 p-2">
              consectetuer adipiscing elit, sed diam nonummy nibh euismod
            </div>
          </div>

          <div class="flex flex-1 items-center space-x-2">
            <img src="../../assets/images/avatars/avatar-4.jpg" class="rounded-full w-8 h-8">
            <div class="flex-1 p-2">
              consectetuer adipiscing elit
            </div>
          </div>

        </div>


      </div>
      <div class="p-3 border-t dark:border-gray-600">
        <div class="bg-gray-200 dark:bg-gray-700 rounded-full rounded-md relative">
          <input type="text" placeholder="Add your Comment.." class="bg-transparent max-h-8 shadow-none">
          <div class="absolute bottom-0 flex h-full items-center right-0 right-3 text-xl space-x-2">
            <a href="#"> <i class="uil-image"></i></a>
            <a href="#"> <i class="uil-video"></i></a>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
</body>
