<body class="bg-gray-100">
<div id="wrapper" class="flex flex-col justify-between h-screen">

  <!-- header-->
  <div class="bg-white py-4 shadow dark:bg-gray-800">
    <div class="max-w-6xl mx-auto">


      <div class="flex items-center lg:justify-between justify-around">

        <a [routerLink]="['../register']">
          <img src="../../assets/images/logo.png" alt="" class="w-32">
        </a>

        <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
          <a [routerLink]="['../login']" class="py-3 px-4">Login</a>
          <a [routerLink]="['../register']"
             class="bg-pink-500 pink-500 px-6 py-3 rounded-md shadow text-white">Register</a>
        </div>

      </div>
    </div>
  </div>

  <!-- Content-->
  <div>
    <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
      <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Log in</h1>
      <p class="mb-2 text-black text-lg"> Email or Username</p>
      <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <input
          name="username"
          [(ngModel)]="model.username"
          type="text"
          placeholder="UserName"
          class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
          style="border: 1px solid #d3d5d8 !important;">
        <input
          name="password"
          [(ngModel)]="model.password"
          type="password"
          placeholder="Password"
          class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
          style="border: 1px solid #d3d5d8 !important;">
        <div class="flex justify-between my-4">
          <div class="checkbox">
            <input type="checkbox" id="chekcbox1" checked>
            <label for="chekcbox1"><span class="checkbox-icon"></span>Remember Me</label>
          </div>
          <a [routerLink]="['../forgot-password']"> Forgot Your Password? </a>
        </div>
        <button type="submit"
                class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full">Login
        </button>
        <button
          style="font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  margin-left: 120px;
  margin-top: 50px;
  font-size: 14px;
  padding: 13px 30px 15px 44px;
  background: #3A5A97;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,20,.4);
  text-decoration: none;
  line-height: 1;
  position: relative;
  border-radius: 5px;"
          size="huge"
          class="fb icon-brand-facebook"
          (click)="facebookLogin()"
        >  Login with Facebook
        </button>
        <div class="text-center mt-5 space-x-2">
          <p class="text-base"> Not registered? <a [routerLink]="['../register']"> Create a account </a></p>
        </div>
      </form>
    </div>
  </div>

  <!-- Footer -->

  <div class="lg:mb-5 py-3 uk-link-reset">
    <div class="flex flex-col items-center justify-between lg:flex-row max-w-6xl mx-auto lg:space-y-0 space-y-3">
      <div class="flex space-x-2 text-gray-700 uppercase">
        <a href="#"> About</a>
        <a href="#"> Help</a>
        <a href="#"> Terms</a>
        <a href="#"> Privacy</a>
      </div>
      <p class="capitalize"> © copyright 2020 by Instello</p>
    </div>
  </div>

</div>


<script>

  (function (window, document, undefined) {
    'use strict';
    if (!('localStorage' in window)) return;
    var nightMode = localStorage.getItem('gmtNightMode');
    if (nightMode) {
      document.documentElement.className += ' dark';
    }
  })(window, document);


  (function (window, document, undefined) {

    'use strict';

    // Feature test
    if (!('localStorage' in window)) return;

    // Get our newly insert toggle
    var nightMode = document.querySelector('#night-mode');
    if (!nightMode) return;

    // When clicked, toggle night mode on or off
    nightMode.addEventListener('click', function (event) {
      event.preventDefault();
      document.documentElement.classList.toggle('dark');
      if (document.documentElement.classList.contains('dark')) {
        localStorage.setItem('gmtNightMode', true);
        return;
      }
      localStorage.removeItem('gmtNightMode');
    }, false);

  })(window, document);
</script>

<!-- Scripts
================================================== -->
<script src="../../assets/js/tippy.all.min.js"></script>
<script src="../../assets/js/jquery-3.3.1.min.js"></script>
<script src="../../assets/js/uikit.js"></script>
<script src="../../assets/js/simplebar.js"></script>
<script src="../../assets/js/custom.js"></script>


<script src="../../../node_modules/ionicons/dist/ionicons.js"></script>
</body>

