.fb{
  font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: 14px;
  padding: 13px 30px 15px 44px;
  background: #3A5A97;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,20,.4);
  text-decoration: none;
  line-height: 1;
  position: relative;
  border-radius: 5px;
}
