<body class="bg-gray-100">
<div id="wrapper" class="flex flex-col justify-between h-screen">

  <div style="margin-bottom: 200px">
    <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">

      <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Reset Password</h1>

      <div *ngIf="showError" class="alert alert-danger" role="alert">
        <span [innerHTML]="errorMessage"></span>
      </div>

      <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Your password has been reset. Please <a [routerLink]="['../login']">click here to log in</a>
      </div>

      <form [formGroup]="resetPasswordForm" autocomplete="off" novalidate
            (ngSubmit)="resetPassword(resetPasswordForm.value)">

        <input
          type="password"
          id="password"
          formControlName="password"
          placeholder="New Password"
          class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
          style="border: 1px solid #d3d5d8 !important;">
        <div class="col-md-5">
          <em *ngIf="validateControl('password') && hasError('password','required')">
            Password is required
          </em>
        </div>

        <input
          type="password"
          id="confirm"
          formControlName="confirm"
          placeholder="Confirm Password"
          class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
          style="border: 1px solid #d3d5d8 !important;">
        <div class="col-md-5">
          <em *ngIf="validateControl('confirm') && hasError('confirm','required')">
            Confirm Password is required
          </em>
          <em *ngIf="hasError('confirm','mustMatch')">
            Passwords must match
          </em>
        </div>
        <br>

        <div class="form-group row">
          <button
            type="submit"
            [disabled]="!resetPasswordForm.valid"> Submit
          </button>
        </div>

      </form>


    </div>
  </div>


</div>
</body>
