<div style="height: 1px" class="col-lg-12">
  <app-navbar></app-navbar>
</div>

<div class="">
  <app-sidebar></app-sidebar>
</div>

<body class="mt-5">
<div id="wrapper">
  <div class="main_content">
    <div class="container m-auto pt-5">

      <h1 class="font-semibold lg:mb-6 mb-3 text-2xl"> Conversation</h1>

      <div
        class="lg:flex lg:shadow lg:bg-white lg:space-y-0 space-y-8 rounded-md lg:-mx-0 -mx-5 overflow-hidden lg:dark:bg-gray-800">



        <!--  message-->
        <div  class="lg:w-8/12 bg-white dark:bg-gray-800 w-100 ">

          <div class="border-t dark:border-gray-600">

            <div class="w-100" *ngIf="messages?.length === 0">
              No messages...
            </div>

            <div *ngFor="let message of messages" class="lg:p-8 p-4 space-y-5">

              <h3 class="lg:w-60 mx-auto text-sm uk-heading-line uk-text-center lg:pt-2">
                <span>{{message.messageSent | timeago}} </span>
              </h3>

              <!-- my message-->
              <div class="flex lg:items-center flex-row-reverse">
                <div class="w-14 h-14 rounded-full relative flex-shrink-0">
                  <img src="{{message.senderPhotoUrl}}" alt="{{message.senderUsername}}"
                       class="absolute h-full rounded-full w-full">
                </div>

                <div class="text-white py-2 px-3 rounded bg-blue-600 relative h-full lg:mr-5 mr-2 lg:ml-20">
                  <p class="leading-6">{{message.content}}
                  </p>
                  <div class="absolute w-3 h-3 top-3 -right-1 bg-blue-600 transform rotate-45"></div>
                </div>

                <small class="text-muted">
                  <span class="text-danger"
                        *ngIf="!message.dateRead && message.senderUsername !== username">(unread)</span>
                  <span class="text-success"
                        *ngIf="message.dateRead && message.senderUsername !==username">(read {{message.dateRead | timeago}}
                    )</span>
                </small>

              </div>
            </div>

            <form>
              <div class="border-t flex p-6 dark:border-gray-700">
              <textarea cols="1" rows="1" placeholder="Your Message.."
                        class="border-0 flex-1 h-10 min-h-0 resize-none min-w-0 shadow-none dark:bg-transparent"></textarea>
                <div class="flex h-full space-x-2">

                  <button type="submit" class="bg-blue-600 font-semibold px-6 py-2 rounded-md text-white">Send</button>
                </div>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</body>
