<body>
<div id="wrapper">
  <div class="main_content">
    <div class="container m-auto">
      <div class="lg:flex justify-center lg:space-x-10 lg:space-y-0 space-y-5">

        <!--        left sidebar-->
        <div class="space-y-5 flex-shrink-0 lg:w-7/12">

          <!-- post 1-->
          <div class="bg-white shadow rounded-md dark:bg-gray-900 -mx-2 lg:mx-0">

            <!-- post header-->
            <div class="flex justify-between items-center px-4 py-3">
              <div class="flex flex-1 items-center space-x-4">
                <a href="#">
                  <div class="bg-gradient-to-tr from-yellow-600 to-pink-600 p-0.5 rounded-full">
                    <img src="{{member.photoUrl || '../../assets/user.png'}}"
                         class="bg-gray-200 border border-white rounded-full w-8 h-8">
                  </div>
                </a>
                <span class="block capitalize font-semibold dark:text-gray-100"> {{member.knownAs}} </span>
              </div>

            </div>

            <div uk-lightbox>
              <a href="assets/images/post/img4.jpg">
                <img src="{{member.photoUrl}}" alt="">
              </a>
            </div>


            <div class="py-3 px-4 space-y-3">

              <div class="flex space-x-4 lg:font-bold">
                <a href="#" class="flex items-center space-x-2">
                  <div class="p-2 rounded-full text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="22"
                         height="22" class="dark:text-gray-100">
                      <path
                        d="M2 10.5a1.5 1.5 0 113 0v6a1.5 1.5 0 01-3 0v-6zM6 10.333v5.43a2 2 0 001.106 1.79l.05.025A4 4 0 008.943 18h5.416a2 2 0 001.962-1.608l1.2-6A2 2 0 0015.56 8H12V4a2 2 0 00-2-2 1 1 0 00-1 1v.667a4 4 0 01-.8 2.4L6.8 7.933a4 4 0 00-.8 2.4z"/>
                    </svg>
                  </div>
                  <div> Like</div>
                </a>
                <a href="#" class="flex items-center space-x-2">
                  <div class="p-2 rounded-full text-black">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="22"
                         height="22" class="dark:text-gray-100">
                      <path fill-rule="evenodd"
                            d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z"
                            clip-rule="evenodd"/>
                    </svg>
                  </div>
                  <div> Comment</div>
                </a>
                <a href="#" class="flex items-center space-x-2 flex-1 justify-end">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" width="22" height="22"
                       class="dark:text-gray-100">
                    <path
                      d="M15 8a3 3 0 10-2.977-2.63l-4.94 2.47a3 3 0 100 4.319l4.94 2.47a3 3 0 10.895-1.789l-4.94-2.47a3.027 3.027 0 000-.74l4.94-2.47C13.456 7.68 14.19 8 15 8z"/>
                  </svg>
                  <div> Share</div>
                </a>
              </div>
              <div class="flex items-center space-x-3">
                <div class="flex items-center">
                  <img src="assets/images/avatars/avatar-1.jpg" alt=""
                       class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900">
                  <img src="assets/images/avatars/avatar-4.jpg" alt=""
                       class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900 -ml-2">
                  <img src="assets/images/avatars/avatar-2.jpg" alt=""
                       class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-900 -ml-2">
                </div>
                <div class="dark:text-gray-100">
                  Liked <strong> Johnson</strong> and <strong> 209 Others </strong>
                </div>
              </div>

              <div class="border-t pt-4 space-y-4 dark:border-gray-600">
                <div class="flex">
                  <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                    <img src="assets/images/avatars/avatar-1.jpg" alt="" class="absolute h-full rounded-full w-full">
                  </div>
                  <div
                    class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 h-full relative lg:ml-5 ml-2 lg:mr-20  dark:bg-gray-800 dark:text-gray-100">
                    <p class="leading-6">In ut odio libero vulputate <i
                      class="uil-grin-tongue-wink"> </i></p>
                    <div class="absolute w-3 h-3 top-3 -left-1 bg-gray-100 transform rotate-45 dark:bg-gray-800"></div>
                  </div>
                </div>
                <div class="flex">
                  <div class="w-10 h-10 rounded-full relative flex-shrink-0">
                    <img src="assets/images/avatars/avatar-1.jpg" alt="" class="absolute h-full rounded-full w-full">
                  </div>
                  <div
                    class="text-gray-700 py-2 px-3 rounded-md bg-gray-100 h-full relative lg:ml-5 ml-2 lg:mr-20  dark:bg-gray-800 dark:text-gray-100">
                    <p class="leading-6">Nam liber tempor cum soluta nobis eleifend option <i
                      class="uil-grin-tongue-wink-alt"></i>
                    </p>
                    <div class="absolute w-3 h-3 top-3 -left-1 bg-gray-100 transform rotate-45 dark:bg-gray-800"></div>
                  </div>
                </div>
              </div>

              <div class="bg-gray-100 bg-gray-100 rounded-full rounded-md relative dark:bg-gray-800">
                <input type="text" placeholder="Add your Comment.." class="bg-transparent max-h-10 shadow-none">
              </div>

            </div>

          </div>


        </div>


      </div>
    </div>
  </div>
</div>
</body>
