<div class="card mb-4">
  <div class="card-img-wrapper">
    <img routerLink="/explore/{{member.username}}/" src="{{member.photoUrl || '../../assets/user.png'}} " alt="{{member.knownAs}}"
         class="card-img-top">
  </div>
  <div class="card-body p-1">
    <h6 class="card-title text-center mb-1"><i class="fa fa-user mr-2"></i>
      {{member.knownAs}}, {{member.age}}
    </h6>
    <p class="card-text text-muted text-center">{{member.city}}</p>
  </div>
</div>


<!--      <div class="grid lg:grid-cols-4 grid-cols-2 gap-2 hover:text-yellow-700 uk-link-reset">-->
<!--        <div>-->
<!--          <div class="bg-yellow-400 max-w-full lg:h-64 h-40 rounded-md relative overflow-hidden shadow-sm ">-->
<!--            <p href="#story-modal" uk-toggle>-->
<!--              <img src="{{member.photoUrl}}" width="231" height="256" alt="{{member.knownAs}}" class="w-full h-full absolute object-cover inset-0">-->
<!--            </p>-->
<!--            <div-->
<!--              class="absolut absolute bottom-0 flex items-center justify-between px-4 py-3 space-x-2 text-white w-full custom-overly1">-->
<!--              <a href="#">{{member.knownAs}}</a>-->
<!--              <div class="flex space-x-3">-->
<!--                <h6 class="flex items-center">-->
<!--                  &lt;!&ndash;                  <ion-icon name="heart" class="mr-1 md hydrated" role="img" aria-label="heart"></ion-icon>&ndash;&gt;-->
<!--                  {{member.city}} </h6>-->
<!--                <a href="#" class="flex items-center">-->
<!--                  &lt;!&ndash;                  <ion-icon name="chatbubble-ellipses" class="mr-1 md hydrated" role="img"&ndash;&gt;-->
<!--                  &lt;!&ndash;                            aria-label="chatbubble ellipses"></ion-icon>&ndash;&gt;-->
<!--                  30 </a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->


