<body class="bg-gray-100">
<div id="wrapper" class="flex flex-col justify-between h-screen">

  <!-- header-->
  <div class="bg-white py-4 shadow dark:bg-gray-800">
    <div class="max-w-6xl mx-auto">


      <div class="flex items-center lg:justify-between justify-around">

        <a [routerLink]="['../register']">
          <img src="../../assets/images/logo.png" alt="" class="w-32">
        </a>

        <div class="capitalize flex font-semibold hidden lg:block my-2 space-x-3 text-center text-sm">
          <a [routerLink]="['../login']" class="py-3 px-4">Login</a>
          <a [routerLink]="['../register']"
             class="bg-pink-500 pink-500 px-6 py-3 rounded-md shadow text-white">Register</a>
        </div>

      </div>
    </div>
  </div>

  <!--  Content-->

  <div style="margin-bottom: 200px">
    <div class="lg:p-12 max-w-md max-w-xl lg:my-0 my-12 mx-auto p-6 space-y-">
      <h1 class="lg:text-3xl text-xl font-semibold  mb-6"> Forgot Password</h1>

      <div *ngIf="showError" class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>

      <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        {{successMessage}}
      </div>

      <form [formGroup]="forgotPasswordForm" autocomplete="off"
            novalidate (ngSubmit)="forgotPassword(forgotPasswordForm.value)">

        <input
          type="text"
          id="email"
          formControlName="email"
          placeholder="Email"
          class="bg-gray-200 mb-2 shadow-none dark:bg-gray-800"
          style="border: 1px solid #d3d5d8 !important;">

        <div class="col-md-5">
          <em *ngIf="validateControl('email') && hasError('email', 'required')">
            Email is required
          </em>
        </div>
        <br>
        <div class="form-group row">

          <button
            type="submit"
            class="bg-gradient-to-br from-pink-500 py-3 rounded-md text-white text-xl to-red-400 w-full"
            [disabled]="!forgotPasswordForm.valid"> Submit
          </button>
        </div>
      </form>

    </div>
  </div>

</div>

</body>
